.basic-section {
    padding: 50px 20px;
    background: linear-gradient(to right, #1D505E, #65FDF0);
    color: white;
  }
  
  .basic-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .basic-text {
    flex: 1;
    padding-right: 20px;
  }
  
  .basic-text h2 {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .basic-text p {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  
  .basic-image {
    flex: 1;
    text-align: center;
  }
  
  .basic-image img {
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  