.predict-page {
  background: linear-gradient(to right, #1d505e, #65fdf0);
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.page-title {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin: 20px 0;
  text-align: center;
}

.predict-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
}

.result-section {
  flex: 2;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 20px;
  color: white;
}

.result-section p {
  margin: 0;
}

.result-section ul {
  list-style-type: circle;
  margin-left: 20px;
}
